@charset "utf-8";

body{
    margin: 0px;
	background-color: #163658;
	background-position: center; 
	background-repeat: none; 
	background-size: cover; 
    background-attachment: fixed; 
    height: 1600px;
}

.heading{
	width: 100%;
	height: 100px; 
	background-color: white;
    top: 0px; 
    
}

.innerheading{
    height: 100px;
    width: 600px;
    margin-left: auto; 
    margin-right: auto;
}

.title{
    font-family: 'Times New Roman', Times, serif;
    color: #163658;
    line-height: 100px; 
    font-size: 50px; 
    text-align: center; 
    margin-bottom: 15px; 
}

#logo{
    width: 110px;
    height: 100px; 
    margin-bottom: -20px;  
    float: left;
}

.container{
    width: 1050px; 
    margin-left: auto; 
    margin-right: auto;
    margin-top: 20px;
}

.pagecontainer{
    margin-left: auto;
    margin-right: auto;
    width: 1050px; 
    height: 800px;
    background-color: white;
    margin-top: 20px;
}

#pagecontainercart{

    background-color: #163658;
    height: auto;

}

.cartitems{
    float: left; 
    width: 800px;
    padding: 15px; 
    height: 100%;
    background-color: white;
}

.sectiontitle{
    height: 50px;
    font-size: 25px;
    color: #163658 ;
    margin-top: 10px;
    font-weight: bold;
}

.carttotal{
    width: 170px;
    float: left;
    background-color: white;
    height: 100%;
    margin-left: 20px;
    padding: 15px;
}

.pageheader{
    width: 1050px;
    height: 100px;
    background-color: white;
    margin-top: 50px; 
    margin-left: auto;
    margin-right: auto;
    line-height: 80px;
    text-align: center;
    font-size: 30px;
    color: #163658;
}

.sidecolumn{
    float: left; 
    width: 160px; 
    background-color: white; 
    padding: 20px; 
}

.foodcategory{
    background-color: #eab02b;
    text-decoration: none;
    color: #163658;
    height: 30px;
    width: 150px;
    float: left;
    margin-bottom: 10px;
}


.foodcategory a{
	float: left; 
	display: block; 
	text-decoration: none; 
	text-align: center; 
	line-height: 30px;
    background-color:#eab02b; 
    color: #163658;
    width: 150px
}

.foodcategory a:hover{
	background-color: white; 
    color: #163658;
    width: 150px;

    
}

.shoppingcontainer{
    float: left; 
    background-color: white; 
    width: 815px;
    margin-left: 20px;
    padding-left: 15px;
}

.accountcontainer{
    float: left;
    background-color: white;
    height: 1825px;
    width: 1000px;
    margin-left: 15px;
    padding:10px;
}

h2{
    margin-top: 30px;
    color:#163658;
    font-weight: bold;
}

h3{
    margin-bottom: -25px;
    font-size: 20px;
}

p{
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 2px;
    margin-top: 2px;
}

.imageInfo{
    height: 400px;
    width: 400px;
    margin: 20px;
    border-style:solid;
    border-color:#163658;
    border-width:2px;
}

.linkcontainer{
	width: 100%;
	height: 30px;
	background-color: purple ;
	margin-left: auto; 
	margin-right: auto;
    line-height: 30px;
    float: left;
    font-size: 20px;
    margin-bottom: 30px;
}

.linkcontainer a{
	float: left; 
	display: block; 
	height: 100%; 
	width: 25%;
	text-decoration: none; 
	text-align: center; 
	line-height: 30px;
    background-color:#eab02b; 
    color: #163658;
}

.linkcontainer a:hover{
	background-color: white; 
    color: #163658;
    
}

.IDinput{
    width:100px;
    height:30px;
    float: left;
    margin-bottom: 5px;
}

.loginButton{
    width:100px;
    height:30px;
    background-color:#eab02b;
    float: left;
    margin-left: auto; 
    margin-right: auto;
}

.input{
    width: 100px; 
    height: 100px;
    float: left;
    margin-left: 200px;
}

.logincontainer{
    margin-left: auto; 
    margin-right: auto;
    background-color: white; 
    width: 500px; 
    height: 300px;
    margin-top: 100px;
    padding: 30px;
}

#logintitle{
    font-family: 'Times New Roman', Times, serif;
    color: #163658;
    line-height: 100px; 
    font-size: 40px; 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    float: left;
    width: 500px;
    height: 100px;
}

#loginlogo{
    width: 110px;
    height: 100px; 
    margin-left: 200px; 
    margin-right: auto;
    margin-bottom: -20px;  
    float: left;
    border-width:5px;
    border-color:red;
    float: center;
}

.errormessage{
    float: left;
    width: 500px;
    color:red;
    text-align: center;
}

#profile{
    width: 400px;
    margin-top: 20px;
    margin-left: 20px;
}

.qtyinput{
    float: left; 
    width: 60px;
    margin-left: 20px;
    margin-top: 10px;
}

.removeqtyinput{
    float: left; 
    width: 60px;
    margin-left: 15px;
    margin-top: 10px;
}

.cartButtons{
    float: left; 
    margin-top: 10px;
    background-color: #eab02b;
    font-family: 'Times New Roman', Times, serif;
    border: solid #163658 1px;
    color: #163658;
    margin-left: 5px;
    height: 20px;
}

.changeqtyButtons{
    float: left; 
    margin-top: 10px;
    background-color: #eab02b;
    font-family: 'Times New Roman', Times, serif;
    border: solid #163658 1px;
    color: #163658;
    height: 20px;
    margin-left: 10px;
}

.removecartButtons{
    float: left; 
    margin-top: 10px;
    background-color: #eab02b;
    font-family: 'Times New Roman', Times, serif;
    border: solid #163658 1px;
    color: #163658;
    margin-left: 35px;
    height: 20px;
}

.favouriteButtons{
    float: left; 
    margin-top: 10px;
    background-color: #eab02b;
    font-family: 'Times New Roman', Times, serif;
    border: solid #163658 1px;
    color: #163658;
    margin-left: 40px;
    height: 20px;
}

.removefavouriteButtons{
    float: left; 
    margin-top: 10px;
    background-color: #eab02b;
    font-family: 'Times New Roman', Times, serif;
    border: solid #163658 1px;
    color: #163658;
    margin-left: 20px;
    height: 20px;
    
}

.foodimage{
    margin-top: -10px;
}

.checkoutbutton{
    float: left; 
    margin-top: 10px;
    background-color: #eab02b;
    font-family: 'Times New Roman', Times, serif;
    border: solid #163658 1px;
    color: #163658;
    height: 20px;
}

.clearbutton{
    float: left; 
    margin-top: 10px;
    background-color: #eab02b;
    font-family: 'Times New Roman', Times, serif;
    border: solid #163658 1px;
    color: #163658;
    height: 20px;
}

.finalprice{
    color: #163658;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}

#pagecontainerfavourite{
    padding: 20px;
    width: 1010px; 
}